
@import "~styles/_colors";

@font-face {
    font-family: "ReturnofGanon";
    src: url("../assets/fonts/ReturnofGanon.ttf");
}

@font-face {
    font-family: "Charlemagne";
    src: url("../assets/fonts/Charlemagne.ttf");
}

body, html {
    height: 100%;
    font-family: "Charlemagne", monospace;
    background-color: $darkblue;
    color: $gold;
    font-size: 1.2em;
}